<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>内蒙古人防</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="statics/wap/css/css.css" rel="stylesheet">
</head>

<body class="bg">

	<div class="top">
		<div class="left">
			<a href="index.php?m=wap&a=init"><img src="statics/wap/images/back.png"></a>
		</div>
		<div class="center">内蒙古人防手机网站</div>
		<div class="right">
			<a href="#"><img src="statics/wap/images/more.png"></a>
		</div>
		<div class="clearfloat"></div>
	</div>
	<div class="banner">
		<img src="statics/wap/images/banner.jpg">
	</div>
	<div class="sous">
		<div class="sleft">
			<img src="statics/wap/images/sskleft.png">
		</div>
		<div class="scenter">
			<div class="ssimg">
				<img src="statics/wap/images/sous.png">
			</div>
			<input type="text" value="请输入要搜索的内容" onfocus="if(this.value == '请输入要搜索的内容'){ this.value = '';}"
				onblur="if (this.value == '') {this.value = '请输入要搜索的内容';}">
		</div>
		<div class="sright">
			<img src="statics/wap/images/sskright.png">
		</div>
	</div>
	<div class="content">
		<div class="ctit"></div>
		<ul>
			<li><a href="{list_url('19')}"><img src="statics/wap/images/4.jpg"></a>
			<p>人民防空</p></li>
			<li><a href="{list_url('18')}"><img src="statics/wap/images/5.jpg"></a>
			<p>化学救援</p></li>
			<li><a href="{list_url('17')}"><img src="statics/wap/images/6.jpg"></a>
			<p>兵器档案</p></li>
			<li><a href="{list_url('16')}"><img src="statics/wap/images/7.jpg"></a>
			<p>空袭案例</p></li>
			<li><a href="{list_url('15')}"><img src="statics/wap/images/8.jpg"></a>
			<p>防灾常识</p></li>
			<li><a href="{list_url('20')}"><img src="statics/wap/images/9.jpg"></a>
			<p>政策法规</p></li>
		</ul>
		<div class="clearfloat"></div>
	</div>
	<div class="footbox">
		
		<div class="foot">
			<a href="#">触屏版</a>  <a href="#">返回顶部↑</a>
		</div>
		
		<div class="footer">Copyright©2015 内蒙古自治区人民防空办公室</div>
	</div>
</body>
</html>