<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="keywords" content="内蒙古人防" />
<meta name="description" content="内蒙古人防" />
<meta name="copyright" content="内蒙古人防" />
<meta name="author" content="内蒙古人防" />
<meta charset="utf-8" />
<title>内蒙古人防</title>
<link href="statics/wap/css/css.css" rel="stylesheet">
<script type="text/javascript" src="statics/js/jquery-1.11.2.min.js"></script>
</head>
<body>
<div class="loading"><a href="index.php?m=wap&a=init"><img src="statics/wap/images/logo.png"></a> 
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
	setTimeout("window.location.href='index.php?m=wap&a=init'", 4000);
});
</script>
</html>