<head>
<meta charset="utf-8">
<title>内蒙古人防</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="statics/wap/css/css.css" rel="stylesheet">
<link href="statics/wap/css/component.css" rel="stylesheet"
	type="text/css">

<script type="text/javascript" src="statics/wap/js/jquery.js"></script>
<script type="text/javascript" src="statics/wap/js/modernizr.custom.js"></script>
<script type="text/javascript" src="statics/wap/js/jquery.dlmenu.js"></script>
</head>
<body class="bg">
	<div class="top">
		<div class="left">
			<a href="#"><img src="statics/wap/images/back.png"></a>
		</div>
		<div class="center">工作动态</div>
		<div class="right">
			<header class="header">
				<div id="dl-menu" class="dl-menuwrapper">
					<button id="dl-menu-button">Open Menu</button>
					<ul class="dl-menu">
						<li><a href="{list_url('13')}">工作动态</a>
						<li><a href="{list_url('12')}">旗县快讯</a>
						<li><a href="{list_url('11')}">图片传真</a>
						<li><a href="{list_url('19')}">人民防空</a>
						<li><a href="{list_url('18')}">化学救援</a>
						<li><a href="{list_url('17')}">兵器档案</a>
						<li><a href="{list_url('16')}">空袭案例</a>
						<li><a href="{list_url('15')}">防灾常识</a>
						<li><a href="{list_url('20')}">政策法规</a>
						</li>
					</ul>
				</div>
			</header>
		</div>
		<div class="clearfloat"></div>
	</div>