<div class="foot_txt">
	<ul>
		<li><a href="index.php?m=wap&a=init"><img
				src="statics/wap/images/home.png" style="margin-bottom: 8px;">
				<p>首页</p></a></li>
		<li><a href="{list_url('10')}"><img src="statics/wap/images/news.png"
				style="margin-bottom: 3px;">
				<p>新闻动态</p></a></li>
		<li><a href="{list_url('14')}"><img src="statics/wap/images/changshi.png"
				style="margin-bottom: 8px;">
				<p>防空常识</p></a></li>
		<li><a href="{list_url('20')}"><img src="statics/wap/images/more2.png"
				style="margin-bottom: 10px;">
				<p>更多</p></a></li>
	</ul>
</div>

<script type="text/javascript">
	$(function() {
		$('#dl-menu').dlmenu();
	});
</script>
</body>
</html>