<?php 
$dataid = $_GET['showdata'];
if ($dataid > 0){
 
}
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0"
	align="center">
	<tbody>
		<tr>
			<td height="500" align="center" valign="top"
				style="background: url(statics/images/nrbg.png) repeat-y center top; padding-top: 7px;"><table
					width="998" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="217" valign="top">
								<table width="217" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td><table width="217" border="0" cellspacing="0"
													cellpadding="0">
													<tbody>
														<tr>
															<td><img src="statics/images/wsbs_zytit.jpg"
																style="width: 217px; height: 55px;"></td>
														</tr>
														<tr>
															<td height="100"
																style="border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; background: url(statics/images/zy_lft_mid.jpg) repeat-x bottom; padding-bottom: 15px;">
																<a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=1"
																class="lftmn_cur">主任信箱</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=2"
																class="lftmn_cur">监督投诉</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=3"
																class="lftmn_cur">在线办事</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=4"
																class="lftmn_cur">业务咨询</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=5"
																class="lftmn_cur">公众留言</a> <a
																href="?m=content&c=index&a=lists&catid=1481"
																class="lftmn_cur">网上调查</a> <a
																href="{APP_PATH}index.php?m=content&amp;c=index&amp;a=lists&amp;catid=1439"
																class="lftmn_cur">在线访谈</a>


															</td>
														</tr>
														<tr>
															<td><img src="statics/images/zy_lft_btm.jpg"
																width="217" height="13"></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><table
													width="217" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td><a href="#"><img
																	src="statics/images/zyrfcf_tit.jpg" width="217"
																	height="31" border="0"></a></td>
														</tr>
														<tr>
															<td height="171" align="center"
																style="border-left: 1px solid #9fcede; border-right: 1px solid #9fcede; background: url(statics/images/syzxgg_bg.jpg) no-repeat bottom;"><table
																	width="200" border="0" cellspacing="0" cellpadding="0">
																	<tbody>
																		
																    {pc:content action="lists" catid="1457" order="listorder
													                 DESC" num="5"} {loop $data $v}
													                <tr>
														              <td height="30" align="left"><img
															          src="statics/images/zxgg_icon.png" /> <a
														            	href="{$v[url]}" class="p12heihui">{str_cut($v[title],45)}</a></td>
												                	</tr>
												                	{/loop} {/pc}
																		
																	</tbody>
																</table></td>
														</tr>
														<tr>
															<td><img src="statics/images/syzxgg_btm.jpg"
																width="217" height="14"></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><table
													width="217" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td><table width="217" border="0" cellspacing="0"
																	cellpadding="0">
																	<tbody>
																		<tr>
																			<td width="115" height="25" align="center"
																				style="background: url(statics/images/jrht_tit01.jpg) no-repeat; padding-top: 5px;"
																				class="p14hei">今日<span class="p14hong">话题</span></td>
																			<td align="right"
																				style="background: url(statics/images/jrht_tit02.jpg) no-repeat; padding-right: 10px;"><a
																				href="#" class="p12bai">更多&gt;&gt;</a></td>
																		</tr>
																	</tbody>
																</table></td>
														</tr>
														<tr>
															<td height="222" align="center" valign="top"
																style="border: 1px solid #9fcede; border-top: none; padding-top: 9px; padding-bottom: 10px;"><table
																	width="198" border="0" cellspacing="0" cellpadding="0">
																	<tbody>
																		{pc:content action="lists" catid="1451" order="listorder
													DESC" num="7"} {loop $data $v}
													<tr>
														<td height="32"
															style="background: url(statics/images/short_line.jpg) repeat-x bottom"
															align="left"><img src="statics/images/red_icon.jpg"
															width="3" height="3" /> <a href="{$v[url]}"
															class="p12heihui">{str_cut($v[title],48)}</a></td>
													</tr>
													{/loop} {/pc}

																	</tbody>
																</table></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><img
												src="statics/images/wsbs_icon.jpg" width="218" height="103"></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td valign="top"><table width="780" border="0"
									cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td height="38" align="left" class="p12huiwei"
												style="background: url(statics/images/zywz_bg.jpg) no-repeat top; padding-left: 45px; padding-bottom: 12px;">您当前的位置：<a
												href="index.html" class="p12huiwei">内蒙古人防</a> &gt;<span
												class="p12lan"> <?php 
                                    $infotype=$_GET['infotype'];
                                   switch($infotype)
                                  {
                                     case 1:
                                       echo "主任信箱";
                                       break;
                                    case 2:
                                       echo "监督投诉";
                                       break;
                                    case 3:
                                       echo "在线办事";
                                       break;       
                                    case 4:
                                       echo "业务咨询";
                                       break;
                                    case 5:
                                       echo "公众留言";
                                       break;
	                                
                                  }
                          
                              ?>
											</span></td>
										</tr>
										<tr>
											<td height="830" align="right" valign="top"
												style="background: url(statics/images/zy_midline.jpg) no-repeat left;"><table
													width="753" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td height="32"
																style="background: url(statics/images/srh_titbg.jpg) repeat-x"><table
																	width="753" border="0" cellspacing="0" cellpadding="0">
																	<tbody>
																		<tr>
																			<td width="280" height="32" align="left"><table
																					width="265" border="0" cellspacing="0"
																					cellpadding="0">
																					<tbody>
																						<tr>
																							<td width="92" height="32" align="center"><img
																								src="statics/images/srh_tit.jpg" width="68"
																								height="28"></td>
																							<td width="173"><table width="100%"
																									border="0" cellspacing="0" cellpadding="0">
																									<tbody>
																										<tr>
																											<td><select name="select"
																												style="height: 21px; width: 105px; text-align: center; color: #575656; margin-right: 5px;"
																												class="txt-search">
																													<option value="" selected="">工作动态</option>
																													<!-- 栏目列表 -->
																													<option value="13121214482510000692">政务公开</option>
																													<option value="13121217533510000790">科技信息</option>
																													<option value="13121217515310000788">政策法规</option>
																													<option value="13121215515510000721">民俗风情</option>
																													<option value="13121215515510000721">民俗风情</option>

																											</select></td>
																											<td><select name="select"
																												style="height: 21px; width: 80px; text-align: center; color: #575656"
																												class="txt-search">
																													<option value="" selected="">文章标题</option>
																													<!-- 栏目列表 -->
																													<option value="13121214482510000692">搜索内容</option>
																											</select></td>
																										</tr>
																									</tbody>
																								</table></td>
																						</tr>
																					</tbody>
																				</table></td>
																			<td width="313" align="left">关键字： <input
																				type="text" name="" value="填写您想搜索的关键词"
																				onclick="if(this.value='填写您想搜索的关键词'){this.value=''}"
																				style="width: 250px; height: 21px; line-height: 21px;"
																				class="txt-search"></td>
																			<td width="107" align="left"><img
																				src="statics/images/search-bt.jpg" width="53"
																				height="21"></td>
																		</tr>
																	</tbody>
																</table></td>
														</tr>
														<tr>
															<td><table width="753" border="0" cellspacing="0"
																	cellpadding="0">
																	<tbody>
																		<tr>
																			<td valign="top" style="padding-top: 5px;"><table
																					width="753" border="0" cellspacing="0"
																					cellpadding="0">
																					<tbody>
																						<tr>
																							<td><table width="753" border="0"
																									cellspacing="0" cellpadding="0">
																									<tbody>
																										<tr>
																											<td width="26"><img
																												src="statics/images/zytit_bg01.jpg"
																												width="26" height="35"></td>
																											<td align="left" class="p14hei"
																												style="background: url(statics/images/zytit_bg02.jpg) repeat-x; padding-top: 9px;">
																												<?php 
                                    $infotype=$_GET['infotype'];
                                   switch($infotype)
                                  {
                                     case 1:
                                       echo "主任信箱";
                                       break;
                                    case 2:
                                       echo "监督投诉";
                                       break;
                                    case 3:
                                       echo "在线办事";
                                       break;       
                                    case 4:
                                       echo "业务咨询";
                                       break;
                                    case 5:
                                       echo "公众留言";
                                       break;
	                                
                                  }
                          
                              ?>

																											</td>
																										</tr>
																									</tbody>
																								</table></td>
																						</tr>
																						<tr>
																							<td><img src="statics/images/zytit_bg03.jpg"
																								width="753" height="3"></td>
																						</tr>
																					</tbody>
																				</table></td>
																		</tr>
																		<tr>
																			<td align="center" valign="top"
																				style="padding-top: 15px;">

																				<table width="700" border="0" cellspacing="0"
																					cellpadding="0">
																					<tbody>
																						<tr>
																							<td><table width="700" border="0"
																									cellspacing="0" cellpadding="0">
																									<tbody>
																										<tr>
																											<td><img src="statics/images/mail_come.png"
																												width="700" height="42"></td>
																										</tr>
																										<tr align="center">
																											<td valign="top" style="padding-top: 15px;"><table
																													width="680" border="0" cellspacing="0"
																													cellpadding="0">
																													<tbody>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td width="73" height="34" align="left"
																																class="p12heicuti">信件类型：</td>
																															<td width="607" align="left"
																																class="p12hui02">主任信箱</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="34" align="left"
																																class="p12heicuti">来信时间：</td>
																															<td align="left" class="p12hui02">2015-06-09
																																10:36:32</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="34" align="left"
																																class="p12heicuti">来信标题：</td>
																															<td align="left" class="p12hui02">庆阳市湘乐林业总场棚户区改造工程</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="34" align="left" valign="top"
																																class="p12heicuti"
																																style="padding-top: 5px;">来信内容：</td>
																															<td align="left" class="p12hui02"
																																style="line-height: 22px; padding: 5px 0px;">领导您好，我2007年流转荒山400亩，自己造林。当时签合同时签的是经济商品林，发林权证时上面成了防护林了，能变吗？合同有效吗？</td>
																														</tr>
																													</tbody>
																												</table></td>
																										</tr>
																									</tbody>
																								</table></td>
																						</tr>
																						<tr>
																							<td valign="top" style="padding-top: 20px;"><table
																									width="700" border="0" cellspacing="0"
																									cellpadding="0">
																									<tbody>
																										<tr>
																											<td><img src="statics/images/mail_reply.png"
																												width="700" height="42"></td>
																										</tr>
																										<tr align="center">
																											<td valign="top" style="padding-top: 15px;"><table
																													width="680" border="0" cellspacing="0"
																													cellpadding="0">
																													<tbody>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td width="73" height="34" align="left"
																																class="p12heicuti">信件状态：</td>
																															<td width="607" align="left"
																																class="p12lan">已回复</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="34" align="left"
																																class="p12heicuti">来信时间：</td>
																															<td align="left" class="p12hui02">2015-07-06
																																14:45:13</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="34" align="left" valign="top"
																																class="p12heicuti"
																																style="padding-top: 5px;">回复内容：</td>
																															<td align="left" class="p12hui02"
																																style="line-height: 22px; padding: 5px 0px;">领导您好，我2007年流转荒山400亩，自己造林。当时签合同时签的是经济商品林，发林权证时上面成了防护林了，能变吗？合同有效吗？</td>
																														</tr>
																														<tr
																															style="background: url(statics/images/lyhf_line.jpg) repeat-x bottom">
																															<td height="40" colspan="2"
																																align="center" valign="middle"
																																class="p12heicuti"
																																style="padding-top: 5px;"><p
																																	class="p14hongcu">【返回列表】</p></td>
																														</tr>
																													</tbody>
																												</table></td>
																										</tr>
																									</tbody>
																								</table></td>
																						</tr>
																					</tbody>
																				</table>

																			</td>
																		</tr>
																	</tbody>
																</table></td>
														</tr>

													</tbody>
												</table></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>
{template "content","footer"}
