{template "content","header"}
<div style="width:982px; padding:0 10px; margin: 0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="text-align:center"><table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="800" valign="top" style="padding-top:25px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lft-gzdt-bg.jpg) no-repeat right"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/hdjl_lftmn.jpg" width="128" height="34" /></td>
          </tr>
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
             
<!-- <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat">
  
<table width="210" border="0" cellspacing="0" cellpadding="0">
                 
 <tr>
                
  <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
    
      
 <td width="93" align="left"><a href="http://www.nmgqsh.gov.cn/index.php?m=content&c=index&a=lists&catid=1433" class="p14hei">在线访谈</a></td>

       
                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
-->
               <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">
                    	<a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=2" class="p14hei">在线投诉</a></td>
                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>   
              <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=3" class="p14hei">意见征集</a></td>
                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
               <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                 
   <td width="93" align="left" class="p14hui">
                    	<a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=4" class="p14hei">政务咨询</a></td>

                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
			   <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                 
   <td width="93" align="left" class="p14hui">
                    	<a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=6" class="p14hei">书记信箱</a></td>

                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
			   <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                 
   <td width="93" align="left" class="p14hui">
                    	<a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=7" class="p14hei">县长信箱</a></td>

                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/renfangban/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>

            <!--  <tr>
                <td height="31" align="right" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/lftmn-icon01.jpg" width="16" height="14" /></td>
                   
                      <td width="93" align="left" class="p14hui">
                    	<a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=5" class="p14hei">智能互动</a></td>
      
                    <td width="77" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
 -->
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="119"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/tjxx_tit.jpg" width="119" height="33" /></td>
                <td style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/tjxx_titrt.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #e7ceaf; border-top:none; padding-top:10px; padding-bottom:10px;"><table width="225" border="0" cellspacing="0" cellpadding="0">
              {pc:content action="hits" catid="1162" num="10" order="views DESC"}
              {loop $data $v}
              {$im++}
              <?php if($im <> 10) $xm = "0".$im;?>
              <tr>
                <td>
                	<table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/num_{$xm}.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">
                    	<a href="{$v[url]}" class="p12hui02">{str_cut($v[title],51)}</a></td>
                  </tr>
                </table></td>
              </tr>
              {/loop}
              {/pc}
             

            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" style="padding-top:10px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="120" height="32" align="center" class="p14hongcu" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/rdzt_tit.jpg) no-repeat; padding-left:18px;">热点专题</td>
                <td style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/rdzt_titbg.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #cccccc; border-top:none; padding-top:10px; padding-bottom:10px;">
       <table width="225" border="0" cellspacing="0" cellpadding="0">
              {pc:content action="hits" catid="1209" num="10" order="views DESC"}
              {loop $data $v}       	
              <tr>
                <td height="28" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zwdt_icon.jpg" /><a href="{$v[url]}" class="p12hui02"> {str_cut($v[title] , 50)}</a></td>
              </tr>
              {/loop}
              {/pc}
                                     
            </table>
      </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>
          {template "content","plugin_buttons"}
        </td>
      </tr>
    </table></td>
    <td width="662" align="right" valign="top" style="padding-top:25px;"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="720" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zy_wz01.jpg" width="5" height="32" /></td>
            <td style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zy_wz02.jpg) repeat-x"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%" align="center"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/wz_icon.jpg" width="17" height="17" /> </td>
                <td width="95%" height="32" align="left" class="p12hui02">您当前的位置：清水河首页 >
				<!--智能互动中心-->
				<?php
  $infotype=$_GET['infotype'];    

  switch($infotype)
  {
    case 2:
       echo "在线投诉";
       $SEO['title']='在线投诉';
       break;
    case 3:
       echo "意见征集";
         $SEO['title']='意见征集';
       break;       
    case 4:
       echo "政务咨询";
        $SEO['title']='政务咨询';
       break;
    case 5:
       echo "智能互动";
      $SEO['title']='智能互动';
       break;
	case 6:
       echo "书记信箱";
      $SEO['title']='书记信箱';
       break;
	case 7:
       echo "县长信箱";
      $SEO['title']='县长信箱';
       break;
  }
                          
?>
				</td>
              </tr>
            </table></td>
            <td width="5"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zy_wz03.jpg" width="5" height="32" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:13px; border:1px solid #dbdbdb; border-top:none;" height="774">
     <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-top:10px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="31" style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zy_tit02.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" align="left"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/zy_tit01.jpg" width="29" height="31" /></td>
                        <td width="666" align="left" class="p14heicuti">
<?php
  $infotype=$_GET['infotype'];
?>    

<?php 
  switch($infotype)
  {
    case 2:
       echo "在线投诉";
       $SEO['title']='在线投诉';
       break;
    case 3:
       echo "意见征集";
         $SEO['title']='意见征集';
       break;       
    case 4:
       echo "政务咨询";
        $SEO['title']='政务咨询';
       break;
    case 5:
       echo "智能互动";
      $SEO['title']='智能互动';
       break;
	case 6:
       echo "书记信箱";
      $SEO['title']='书记信箱';
       break;
	case 7:
       echo "县长信箱";
      $SEO['title']='县长信箱';
       break;
  }
                          
?>
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/3zy_titbg.jpg" width="700" height="3" /></td>
                  </tr>
                </table></td>
              </tr>




<?php 
$dataid = $_GET['showdata'];
if ($dataid > 0){
?>
{pc:get sql="select * from v9_form_zaixianfangtan where dataid=$dataid" return="data"}
{loop $data $v}
<?php
//var_dump($v);
?>

<tr>
                <td align="center" style="padding-top:15px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="{$P}images/mail_come.png" width="700" height="42" /></td>
                      </tr>
                      <tr align="center">
                        <td valign="top" style="padding-top:15px;"><table width="680" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="73" height="34" align="left" class="p12heicuti">信件类型：</td>
                            <td width="607" align="left" class="p12hui02"><?php
  $infotype=$_GET['infotype'];
?>    

<?php 
  switch($infotype)
  {
   
    case 2:
       echo "在线投诉";
       break;
    case 3:
       echo "意见征集";
       break;       
    case 4:
       echo "政务咨询";
       break;
    case 5:
       echo "智能互动";
       break;
	case 6:
       echo "书记信箱";
       break;
	case 7:
       echo "县长信箱";
       break;
  }
                          
?></td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="34" align="left" class="p12heicuti">来信时间：</td>
                            <td align="left" class="p12hui02"><?php echo date('Y-m-d',$v[datetime])?></td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="34" align="left" class="p12heicuti">来信标题：</td>
                            <td align="left" class="p12hui02">{$v[title]}</td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="34" align="left" valign="top" class="p12heicuti" style="padding-top:5px;">来信内容：</td>
                            <td align="left" class="p12hui02" style="line-height:22px; padding:5px 0px;">{$v[content]}</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top" style="padding-top:20px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="{$P}images/mail_reply.png" width="700" height="42" /></td>
                      </tr>
                      <tr align="center">
                        <td valign="top" style="padding-top:15px;"><table width="680" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="73" height="34" align="left" class="p12heicuti">信件状态：</td>
                            <td width="607" align="left" class="p12lv">已回复 </td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="34" align="left" class="p12heicuti">来信时间：</td>
                            <td align="left" class="p12hui02">2015-07-06 14:45:13</td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="34" align="left" valign="top" class="p12heicuti" style="padding-top:5px;">回复内容：</td>
                            <td align="left" class="p12hui02" style="line-height:22px; padding:5px 0px;">{$v[answer]}</td>
                          </tr>
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td height="40" colspan="2" align="center" valign="middle" class="p12heicuti" style="padding-top:5px;"><p class="p14hongcu">
                              <a href="#" onclick="window.history.go(-1)" class="p14hongcu">【返回列表】</a> </p></td>
                            </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
{/loop}
{/pc}


<?php }
else 
{
  ?>















<tr>
                <td align="center" style="padding-top:35px;">




<form method="post" action="?m=formguide&c=index&a=show&formid=14&siteid=1" name="myform" id="myform">
 <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
  <TBODY>
  <TR>
    <TH height="30" align="right" style="WIDTH: 90px"><LABEL for=poster>您的姓名：</LABEL></TH>
    <TD align="left"><input type="text" name="info[name]" id="poster" value=""  class="txt-search"  > <SPAN 
      class=p12hong>*</SPAN></TD>
    <TH align="right" style="WIDTH: 90px"><LABEL for=contact>联系电话：</LABEL></TH>
    <TD align="left"><input type="text" name="info[phone]" id="phone"  value=""  class="txt-search"  > <SPAN 
      class=p12hong>*</SPAN></TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=email>电子信箱：</LABEL></TH>
    <TD align="left"><input type="text" name="info[email]" id="email" value=""  class="input-text"  ></TD>
    <TH align="right"><LABEL for=address>联系地址：</LABEL></TH>
    <TD align="left"><input type="text" name="info[address]" id="address" value=""  class="input-text"  > </TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=title>标 题：</LABEL></TH>
    <TD colSpan=3 align="left"><input type="text" name="info[title]" id="title" value=""  class="input-text"  ><SPAN class=p12hong>*</SPAN></TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=cat_id>类 别：</LABEL></TH>
    <TD colSpan=3 align="left"><select name='info[infotyp]' id='infotyp'>
<!--<option value="1" >在线访谈</option>--><option value="2" >在线投诉</option><option value="3" >意见征集</option>
<option value="4" >政务咨询</option><!--<option value="5" >智能互动</option>-->
<option value="6" >书记信箱</option>
<option value="7" >县长信箱</option>
</select></TD>
  </TR>
  <TR>
    <TH align="right" vAlign=top style="padding-top:5px;">内 容：</TH>
    <TD colSpan=3 align="left" style="padding-top:5px;"><textarea name='info[content]' id='content' style='width:100%%;height:46px;'   ></textarea> </TD>
  </TR>
  <TR>
    <TH height="30" align="right" style="padding-top:10px;"><LABEL for=verify>验证码：</LABEL></TH>
    <TD colSpan=3 align="left" style="padding-top:10px;">
<input type="text" id="code" name="code" size="8" class="input-text">{form::checkcode('code_img', '4', '14', 84, 24)}
    </TD>
  </TR>
</TBODY></TABLE>
<DIV style="MARGIN-BOTTOM: 20px" class=page><INPUT type=hidden name=back_url> 
<INPUT value=1 type=hidden name=site_id> 
<!--
	<img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/sumit.png" /> <img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/reset.png" /> 
-->
	<input type="submit" name="dosubmit" id="dosubmit" value=" 提交 ">&nbsp;<input type="reset" value=" 取消 ">
</DIV></td>
              </tr>





            

              <tr>
                <td align="center" style="padding-top:25px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background:#eeeeee"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="29" height="31" align="right"><img src="http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/lyhf_icon.png" width="13" height="13" /></td>
                        <td align="left" class="p14heicuti" style="padding-left:10px;">留言回复</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="padding-top:15px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="background:#ffffcc; border-top:1px solid #ccc; border-bottom:1px solid #ccc;" height="30"><table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="425" height="30" align="left" class="p14huicuti" style="padding-left:5px;">标题</td>
                            <td width="129" align="left" class="p14huicuti">状态</td>
                            <td width="146" align="left" class="p14huicuti">提交日期</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>
                      
{pc:get sql="select * from v9_form_zaixianfangtan where (mark<>'' and infotyp=$infotype) order by dataid desc" return="data"}
{loop $data $v}

<?php
$dataid = $v['dataid'];
?>
                          <table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url(http://www.nmgqsh.gov.cn/phpcms/templates/qingshuihe/content/images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="http://www.nmgqsh.gov.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=2&showdata={$dataid}" class="p12hui02">{$v[title]}</a></td>
                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">{date('Y-m-d h:m:s',$v[datetime])}</td>
                          </tr>
                        </table>
{/loop}
{/pc}                         
  

                                        
          
     
            
            
            </td>
                      </tr>



<!--
              <tr>
                <td align="center" style="padding-top:20px; padding-bottom:20px;"><table width="316" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td width="29" height="23">首页</td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">上一页></a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">1</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">2</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">3</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">下一页></a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="60"><table width="60" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">末页>></a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                      </table></td>
              </tr>
-->

  <?php }?>     
                    </table></td>
                  </tr>
                </table></td>
              </tr>



            </table></td>
          </tr>
          
        </table>
    </td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>

</div>
{template "content","footer"}
<script type="text/javascript">
var infotyp='<?php $infotype=$_GET['infotype']; echo $infotype ?>';
$('#infotyp').val(infotyp);
</script>