{template "content","header"}
<?php
switch($catid){
    case 1459:
        include(template("content" , "dmyx"));
        break; 
    case 1486:
        include(template("content" , "dmyx"));
        break;
    case 1457:
        include(template("content" , "rfpicture"));
        break;  
   case 1453:
        include(template("content" , "list_zcfg"));
        break; 
   case 1454:
        include(template("content" , "list_fkfz"));
        break;
   case 1456:
        include(template("content" , "list_rfxh"));
        break; 
  case 1457:
        include(template("content" , "list_rffc"));
        break; 
  case 1458:
        include(template("content" , "list_yytd"));
        break; 
   case 1435:
        include(template("content" , "list_rfxw"));
        break; 
  case 1440:
        include(template("content" , "list_zwgk"));
        break; 
   case 1476:
        include(template("content" , "list_jcck"));
        break;


    default:
        include(template("content" , "list_mod"));
        break;
}
?>

{template "content","footer"}