<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" valign="top" style="background:url(statics/images/nrbg.png) repeat-y center top; padding-top:10px;"><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="87"><img src="statics/images/yqlj_tit01.jpg" width="87" /></td>
            <td width="106" align="center" class="p14hei" style="background:url(statics/images/yqlj_tit02.jpg) no-repeat; padding-top:5px;">友情链接</td>
            <td style="background:url(statics/images/yqlj_tit03.jpg) repeat-x">&nbsp;</td>
            <td width="67"><img src="statics/images/yqlj_tit04.jpg" width="67" height="32" /></td>
          </tr>
        </table></td>
  </tr>
  <tr>
    <td height="125" align="center" valign="top" style="border-left:1px solid #d3e3e3; border-right:1px solid #d3e3e3;"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" style="padding-top:20px;"><table width="950" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="statics/images/yqlj_01.jpg" width="143" height="47" /></td>
            <td align="center"><img src="statics/images/yqlj_02.jpg" width="143" height="47" /></td>
            <td align="center"><img src="statics/images/yqlj_03.jpg" width="143" height="47" /></td>
            <td align="center"><img src="statics/images/yqlj_04.jpg" width="142" height="47" /></td>
            <td align="center"><img src="statics/images/yqlj_05.jpg" width="143" height="47" /></td>
            <td align="center"><img src="statics/images/yqlj_06.jpg" width="143" height="47" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" style="padding-top:20px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="34" align="center"><select name="select" style="height:21px; width:165px; text-align:center">
                                <OPTION value=# selected>--北京市--</OPTION>
                                <OPTION>属性1111</OPTION>
                                <OPTION>属性111</OPTION>
                      </select></td>
                <td align="center"><select name="select" style="height:21px; width:165px; text-align:center">
                                <OPTION value=# selected>--国家部委网站--</OPTION>
                                <OPTION>属性1111</OPTION>
                                <OPTION>属性111</OPTION>
                      </select></td>
                <td align="center"><select name="select" style="height:21px; width:165px; text-align:center">
                                <OPTION value=# selected>--新闻媒体网站--</OPTION>
                                <OPTION>属性1111</OPTION>
                                <OPTION>属性111</OPTION>
                      </select></td>
                <td align="center"><select name="select" style="height:21px; width:165px; text-align:center">
                                <OPTION value=# selected>--区内各厅级网站--</OPTION>
                                <OPTION>属性1111</OPTION>
                                <OPTION>属性111</OPTION>
                      </select></td>
                <td align="center"><select name="select" style="height:21px; width:165px; text-align:center">
                                <OPTION value=# selected>--区内媒体链接--</OPTION>
                                <OPTION>属性1111</OPTION>
                                <OPTION>属性111</OPTION>
                      </select></td>
              </tr>
            </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="statics/images/yqlj_btm.jpg" /></td>
  </tr>
</table>
</td>
      </tr>
      <tr>
        <td valign="top" style="padding-top:10px;"><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="44"><img src="statics/images/btm_mnbg01.jpg" width="44" height="40" /></td>
    <td align="center" style="background:url(statics/images/btm_mnbg02.jpg) repeat-x" class="p12bai"><a href="index.php" class="p12bai">返回首页</a>｜<a href="#" class="p12bai">加入收藏</a>｜<a href="#" class="p12bai">联系我们</a>｜<a href="#" class="p12bai">友情链接</a>｜<a href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=5" class="p12bai">公众留言</a>｜<a href="?m=vote&c=index&a=lists&siteid=1" class="p12bai">网上调查</a></td>
    <td width="23"><img src="statics/images/btm_mnbg03.jpg" width="23" height="40" /></td>
  </tr>
</table>
</td>
          </tr>
          <tr>
            <td style="background:url(statics/images/btm_mnbg04.jpg) repeat-x top" height="114" align="center"><table width="514" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="75" align="left"><img src="statics/images/dzjg_icon.jpg" width="52" height="63" /></td>
    <td align="left"><table width="430" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="21" align="left" class="p12heihui">Copyright2005-2015 All Rights Reserved 版权所有，未经授权，禁止转载</td>
      </tr>
      <tr>
        <td height="21" align="left" class="p12heihui">地址：中国 内蒙古 呼和浩特市呼伦贝尔北路33号人防大厦12层 </td>
      </tr>
      <tr>
        <td height="21" align="left" class="p12heihui">主办：内蒙古自治区人民防空办公室 网站统计</td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>



<script type="text/javascript">
function Move(tis, oid) {
        $("#1").attr("style", tis);
        $("#" + oid).attr("class", "p14sycubai").siblings().attr("class", "p14sycuhui");
        $("#1" + oid).attr("style", "display:block").siblings().attr("style", "display:none");
    }
</script>

</body>
<script language="javascript" type="text/javascript">
new Marquee({
        obj : 'MyMarqueeX2',
        movePause : true
});
</script>
</html>
