<div style="width:982px; padding:0 10px; margin: 0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="text-align:center"><table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="800" valign="top" style="padding-top:25px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="background:url({$P}images/lft-gzdt-bg.jpg) no-repeat right"><img src="{$P}images/hdjl_lftmn.jpg" width="128" height="34" /></td>
          </tr>
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left"><a href="#" class="p14heicuti">在线访谈</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
               <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">在线投诉</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>   
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="#" class="p14hui">意见征集</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">建言献策</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">智能互动</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="119"><img src="{$P}images/tjxx_tit.jpg" width="119" height="33" /></td>
                <td style="background:url({$P}images/tjxx_titrt.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #e7ceaf; border-top:none; padding-top:10px; padding-bottom:10px;"><table width="225" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_01.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_02.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_03.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_04.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_05.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_06.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_07.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_08.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_09.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_10.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" style="padding-top:10px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="120" height="32" align="center" class="p14hongcu" style="background:url({$P}images/rdzt_tit.jpg) no-repeat; padding-left:18px;">热点专题</td>
                <td style="background:url({$P}images/rdzt_titbg.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #cccccc; border-top:none; padding-top:10px; padding-bottom:10px;">
       <table width="225" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>                       
            </table>
      </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="46" align="left" valign="bottom"><a href="ldzc.html"><img src="{$P}images/lftkj_01.jpg" width="123" height="40" border="0" /></a></td>
            <td align="right" valign="bottom"><a href="zxxf.html"><img src="{$P}images/lftkj_02.jpg" width="123" height="40" border="0" /></a></td>
          </tr>
          <tr>
            <td height="46" valign="bottom" align="left"><a href="wstc.html"><img src="{$P}images/lftkj_03.jpg" width="123" height="40" border="0" /></a></td>
            <td align="right" valign="bottom"><a href="jyxc.html"><img src="{$P}images/lftkj_04.jpg" width="123" height="40" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="662" align="right" valign="top" style="padding-top:25px;"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="720" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5"><img src="{$P}images/zy_wz01.jpg" width="5" height="32" /></td>
            <td style="background:url({$P}images/zy_wz02.jpg) repeat-x"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%" align="center"><img src="{$P}images/wz_icon.jpg" width="17" height="17" /> </td>
                <td width="95%" height="32" align="left" class="p12hui02">您当前的位置：清水河首页 &gt; 工作动态 &gt; <span class="p12lansecu">在线访谈</span></td>
              </tr>
            </table></td>
            <td width="5"><img src="{$P}images/zy_wz03.jpg" width="5" height="32" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:13px; border:1px solid #dbdbdb; border-top:none;" height="774">
     <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-top:10px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="31" style="background:url({$P}images/zy_tit02.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" align="left"><img src="{$P}images/zy_tit01.jpg" width="29" height="31" /></td>
                        <td width="666" align="left" class="p14heicuti">在线访谈</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="{$P}images/zy_titbg.jpg" width="700" height="3" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" style="padding-top:35px;"><TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
  <TBODY>
  <TR>
    <TH height="30" align="right" style="WIDTH: 90px"><LABEL for=poster>您的姓名：</LABEL></TH>
    <TD align="left"><INPUT id=poster type=text name=poster class="txt-search"> <SPAN 
      class=p12hong>*</SPAN></TD>
    <TH align="right" style="WIDTH: 90px"><LABEL for=contact>联系电话：</LABEL></TH>
    <TD align="left"><INPUT id=contact class="txt-search" type=text name=contact> <SPAN 
      class=p12hong>*</SPAN></TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=email>电子信箱：</LABEL></TH>
    <TD align="left"><INPUT id=email class="txt-search" type=text name=email></TD>
    <TH align="right"><LABEL for=address>联系地址：</LABEL></TH>
    <TD align="left"><INPUT id=address class="txt-search" type=text name=address></TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=title>标 题：</LABEL></TH>
    <TD colSpan=3 align="left"><INPUT id=title class="txt-search" size=60 type=text 
      name=title style="width:500px;"> <SPAN class=p12hong>*</SPAN></TD>
  </TR>
  <TR>
    <TH height="30" align="right"><LABEL for=cat_id>类 别：</LABEL></TH>
    <TD colSpan=3 align="left"><SELECT id=cat_id name=cat_id class="txt-search"> <OPTION 
        value="">请选择类别</OPTION> <OPTION value=137>在线访谈</OPTION><OPTION selected 
        value=138>网上信访</OPTION><OPTION value=139>公众问答</OPTION><OPTION 
        value=347>在线咨询</OPTION><OPTION value=5190>信息公开意见箱</OPTION></SELECT></TD>
  </TR>
  <TR>
    <TH align="right" vAlign=top style="padding-top:5px;">内 容：</TH>
    <TD colSpan=3 align="left" style="padding-top:5px;"><TEXTAREA style="WIDTH:500px; HEIGHT: 260px" id=content name=content class="txt-search"></TEXTAREA>    </TD>
  </TR>
  <TR>
    <TH height="30" align="right" style="padding-top:10px;"><LABEL for=verify>验证码：</LABEL></TH>
    <TD colSpan=3 align="left" style="padding-top:10px;"><INPUT style="WIDTH: 50px" id=verify  type=text class="txt-search"
      name=verify> <IMG 
      src="{$P}images/html.png" width="50" height="22" border=0 align=absMiddle id=verifyImg style="CURSOR: pointer" title=点击刷新验证码 
      onclick=fleshVerify()> </TD>
  </TR></TBODY></TABLE>
<DIV style="MARGIN-BOTTOM: 20px" class=page><INPUT type=hidden name=back_url> 
<INPUT value=1 type=hidden name=site_id> <img src="{$P}images/sumit.png" /> <img src="{$P}images/reset.png" /> 
</DIV></td>
              </tr>
              <tr>
                <td align="center" style="padding-top:25px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background:#eeeeee"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="29" height="31" align="right"><img src="{$P}images/lyhf_icon.png" width="13" height="13" /></td>
                        <td align="left" class="p14heicuti" style="padding-left:10px;">留言回复</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" style="padding-top:15px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="background:#ffffcc; border-top:1px solid #ccc; border-bottom:1px solid #ccc;" height="30"><table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="425" height="30" align="left" class="p14huicuti" style="padding-left:5px;">标题</td>
                            <td width="129" align="left" class="p14huicuti">状态</td>
                            <td width="146" align="left" class="p14huicuti">提交日期</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="hdjl01.html" class="p12hui02">林业贷款</a></td>
                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">2015-06-28 21:24</td>
                          </tr>
                        </table>
  <table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="hdjl01.html" class="p12hui02">林业贷款</a></td>
                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">2015-06-28 21:24</td>
                          </tr>
                        </table>
  <table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="hdjl01.html" class="p12hui02">林业贷款</a></td>
                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">2015-06-28 21:24</td>
                          </tr>
                        </table>
                                
  <table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="hdjl01.html" class="p12hui02">林业贷款</a></td>                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">2015-06-28 21:24</td>
                          </tr>
                        </table>
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                          <tr style="background:url({$P}images/lyhf_line.jpg) repeat-x bottom">
                            <td width="425" height="30" align="left" class="p12hui02" style="padding-left:5px;"><a href="hdjl01.html" class="p12hui02">林业贷款</a></td>                            <td width="129" align="left" class="p12lv">已回复</td>
                            <td width="146" align="left" class="p12hui02">2015-06-28 21:24</td>
                          </tr>
                        </table>          
            

            
            
            
            
            </td>
                      </tr>
              <tr>
                <td align="center" style="padding-top:20px; padding-bottom:20px;"><table width="316" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td width="29" height="23">首页</td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">上一页></a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">1</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">2</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">3</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">下一页&gt;</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="60"><table width="60" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">末页&gt;&gt;</a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                      </table></td>
              </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          
        </table>
    </td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>


</div>