
<div style="width:982px; padding:0 10px; margin: 0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="text-align:center"><table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="800" valign="top" style="padding-top:25px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="background:url({$P}images/lft-gzdt-bg.jpg) no-repeat right"><img src="{$P}images/hdjl_lftmn.jpg" width="128" height="34" /></td>
          </tr>
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left"><a href="#" class="p14hui">领导之窗</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
               <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14heicuti">在线信访</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>   
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="#" class="p14hui">网上调查</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">建言献策</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>



    </table></td>
    <td width="662" align="right" valign="top" style="padding-top:25px;"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="720" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5"><img src="{$P}images/zy_wz01.jpg" width="5" height="32" /></td>
            <td style="background:url({$P}images/zy_wz02.jpg) repeat-x"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%" align="center"><img src="{$P}images/wz_icon.jpg" width="17" height="17" /> </td>
                <td width="95%" height="32" align="left" class="p12hui02">您当前的位置：清水河首页 &gt; 互动交流 </td>
              </tr>
            </table></td>
            <td width="5"><img src="{$P}images/zy_wz03.jpg" width="5" height="32" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:13px; border:1px solid #dbdbdb; border-top:none;" height="774">
     <table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-top:10px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="31" style="background:url({$P}images/zy_tit02.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" align="left"><img src="{$P}images/zy_tit01.jpg" width="29" height="31" /></td>
                        <td width="666" align="left" class="p14heicuti">在线信访</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="{$P}images/zy_titbg.jpg" width="700" height="3" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" style="padding-top:35px;"><table width="618" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><table width="613" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="{$P}images/zxzx_xm01.jpg" width="613" height="9" /></td>
                      </tr>
                      <tr>
                        <td><table width="613" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="2"><img src="{$P}images/zxzx_xm02.jpg" width="2" height="194" /></td>
                            <td align="left" class="p12hui02" style="background:url({$P}images/zxzx_xm03.jpg) repeat-x top; padding:10px; line-height:26px; padding-left:20px;">欢迎您进入 <span class="p14hongcu">《 建言献策 》</span> 栏目，来信之前请您阅读以下条款： <br />
                              一、不得发表违反中华人民共和国宪法和法律、违背改革开放和四项基本原则的言论; <br />
                              二、不得发表造谣、诽谤他人的言论; <br />
                              三、来信请写明真实姓名、电子邮件信箱或电话，以便回复来信; <br />
                              四、本栏目拥有发布、保留、删除来信的权利，凡不符合本须知规定的来信将被删除; <br />
                              五、凡致信本栏目者，即表明已阅读并接受上述各项条款。</td>
                            <td width="2"><img src="{$P}images/zxzx_xm04.jpg" width="2" height="194" /></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td><img src="{$P}images/zxzx_xm05.jpg" width="613" height="9" /></td>
                      </tr>
                    </table></td>
                  </tr>
                  <form action="{APP_PATH}mplug/dynaform.php?fid=jyxc" method="post">
                  <tr>
                    <td valign="top" style="padding-top:20px;"><table width="618" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><table width="618" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center" style="background:url({$P}images/zxzx_bdbg01.jpg) no-repeat"><table width="325" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="71" height="30" align="right" class="p12hei">姓名：</td>
                    <td width="254" align="left"><input type="text" name="name" style="width:230px; height:20px;" class="txt-search"></td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">联系电话：</td>
                    <td align="left"><input type="text" name="telphone" style="width:230px; height:20px;" class="txt-search"></td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">E_MAIL：</td>
                    <td align="left"><input type="text" name="email" style="width:230px; height:20px;" class="txt-search"></td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">家庭地址：</td>
                    <td align="left"><input type="text" name="homeaddress" style="width:230px; height:20px;" class="txt-search"> 
                      <span class="p12hong">*</span> </td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">通信地址：</td>
                    <td align="left" class="p12hong"><input type="text" name="mailaddress" style="width:230px; height:20px;" class="txt-search">
                      *</td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">主题：</td>
                    <td align="left"><input type="text" name="subject" style="width:230px; height:20px;" class="txt-search"></td>
                  </tr>
                  <tr>
                    <td height="30" align="right" class="p12hei">内容：</td>
                    <td align="left" class="p12hong"><textarea name="content" style="width:230px; height:80px" class="txt-search"></textarea>
                      *</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td align="right" style="padding-right:25px; padding-top:10px;"><table width="102" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left">
                        <!--
                        <img src="{$P}images/sumit.png" width="49" height="21">
                        -->
                        <input type="submit" value="确定" />
                        </td>
                        <td align="right">
                        <!--
                        <img src="{$P}images/reset.png" width="49" height="21">
                        -->
                        <input type="reset" value="重置" />
                        </td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                            <td width="240"><img src="{$P}images/zxzx_bdbg02.jpg" width="240" height="357" /></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="96" style="background:url({$P}images/zxzx_bdbg03.jpg) no-repeat">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  </form>
                </table></td>
              </tr>
              <tr>
                <td align="center" style="padding-top:25px;">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          
        </table>
    </td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>


