<?php 
  $didnotloop = false;
  $style="p14hui";
  switch($catid){
     case 1493:
         $looparr =  subcat(1435);
         $didnotloop = true;
         $imgid=1435;
         break;                                               
     default:
         $looparr= null;
  }
  
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0"
	align="center">
	<tr>
		<td height="500" align="center" valign="top"
			style="background: url(statics/images/nrbg.png) repeat-y center top; padding-top: 7px;"><table
				width="998" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="217" valign="top"><table width="217" border="0"
							cellspacing="0" cellpadding="0">

							<tr>
								<td>
									<table width="217" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><img src="statics/images/lftmn-{$imgid}.jpg"
												style="width: 217px; height: 55px;" /></td>
										</tr>
										<tr>
											<td height="100"
												style="border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; background: url(statics/images/zy_lft_mid.jpg) repeat-x bottom; padding-bottom: 15px;">
												{loop $looparr $v} <a href="{$v[url]}" class="lftmn_cur">{$v[catname]}</a>
												{/loop}
											</td>
										</tr>
										<tr>
											<td><img src="statics/images/zy_lft_btm.jpg" width="217"
												height="13" /></td>
										</tr>
									</table>
								</td>
							</tr>


							<tr>
								<td valign="top" style="padding-top: 10px;"><table
										width="217" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="#"><img
													src="statics/images/zyrfcf_tit.jpg" width="217" height="31"
													border="0" /></a></td>
										</tr>
										<tr>
											<td height="171" align="center"
												style="border-left: 1px solid #9fcede; border-right: 1px solid #9fcede; background: url(statics/images/syzxgg_bg.jpg) no-repeat bottom;"><table
													width="200" border="0" cellspacing="0" cellpadding="0">
													{pc:content action="lists" catid="1457" order="listorder
													DESC" num="5"} {loop $data $v}
													<tr>
														<td height="30" align="left"><img
															src="statics/images/zxgg_icon.png" /> <a
															href="{$v[url]}" class="p12heihui">{str_cut($v[title],45)}</a></td>
													</tr>
													{/loop} {/pc}
												</table></td>
										</tr>
										<tr>
											<td><img src="statics/images/syzxgg_btm.jpg" width="217"
												height="14" /></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td valign="top" style="padding-top: 10px;"><table
										width="217" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><table width="217" border="0" cellspacing="0"
													cellpadding="0">
													<tr>
														<td width="115" height="25" align="center"
															style="background: url(statics/images/jrht_tit01.jpg) no-repeat; padding-top: 5px;"
															class="p14hei">今日<span class="p14hong">话题</span></td>
														<td align="right"
															style="background: url(statics/images/jrht_tit02.jpg) no-repeat; padding-right: 10px;"><a
															href="#" class="p12bai">更多&gt;&gt;</a></td>
													</tr>
												</table></td>
										</tr>
										<tr>
											<td height="222" align="center" valign="top"
												style="border: 1px solid #9fcede; border-top: none; padding-top: 9px; padding-bottom: 10px;"><table
													width="198" border="0" cellspacing="0" cellpadding="0">
													{pc:content action="lists" catid="1451" order="listorder
													DESC" num="7"} {loop $data $v}
													<tr>
														<td height="32"
															style="background: url(statics/images/short_line.jpg) repeat-x bottom"
															align="left"><img src="statics/images/red_icon.jpg"
															width="3" height="3" /> <a href="{$v[url]}"
															class="p12heihui">{str_cut($v[title],48)}</a></td>
													</tr>
													{/loop} {/pc}

												</table></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td valign="top" style="padding-top: 10px;"><a
									href="{APP_PATH}/index.php?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=1"><img
										src="statics/images/wsbs_icon.jpg" width="218" height="103" />
								</a></td>
							</tr>
						</table></td>
					<td valign="top"><table width="780" border="0" cellspacing="0"
							cellpadding="0">
							<tr>
								<td height="38" align="left" class="p12huiwei"
									style="background: url(statics/images/zywz_bg.jpg) no-repeat top; padding-left: 45px; padding-bottom: 8px;">您当前的位置：<a
									href="index.html" class="p12huiwei">内蒙古人防</a> &gt;<span
									class="p12lan"> {catpos($catid)}</span></td>
							</tr>
							<tr>
								<td height="790" align="right" valign="top"
									style="background: url(statics/images/zy_midline.jpg) no-repeat left;"><table
										width="753" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="32"
												style="background: url(statics/images/srh_titbg.jpg) repeat-x">
												{template "content","plugin_search"}</td>
										</tr>

										<tr>
											<td><table width="753" border="0" cellspacing="0"
													cellpadding="0">
													<tr>
														<td valign="top" style="padding-top: 5px;"><table
																width="753" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td><table width="753" border="0" cellspacing="0"
																			cellpadding="0">
																			<tr>
																				<td width="26"><img
																					src="statics/images/zytit_bg01.jpg" width="26"
																					height="35" /></td>
																				<td align="left" class="p14hei"
																					style="background: url(statics/images/zytit_bg02.jpg) repeat-x; padding-top: 9px;">
																					{catpos($catid)}</td>
																			</tr>
																		</table></td>
																</tr>
																<tr>
																	<td><img src="statics/images/zytit_bg03.jpg"
																		width="753" height="3" /></td>
																</tr>
															</table></td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding-top: 35px;"><table
																width="730" border="0" cellspacing="0" cellpadding="0">
																<tbody>
																	<tr>
																		<td height="40" align="center" class="p14hongcu"
																			style="border-bottom: 1px dashed #cccccc;">灾害警报</td>
																	</tr>
																	<tr>
																		<td><table width="730" border="0" cellspacing="0"
																				cellpadding="0">
																				<tbody>
																					<tr>
																						<td align="center" class="p12shenglan"
																							valign="top" style="padding-top: 15px;"
																							height="30">防空袭警报规定与人员防护动作要求</td>
																					</tr>
																					<tr>
																						<td valign="top"><table width="730"
																								border="0" cellspacing="0" cellpadding="0"
																								class="table4">
																								<tbody>
																									<tr>
																										<td width="143"
																											style="background: #f8f8f8; font-size: 14px; font-weight: bold;">警报名称</td>
																										<td width="295"
																											style="background: #f8f8f8; font-size: 14px; font-weight: bold;">音响规定</td>
																										<td width="292"
																											style="background: #f8f8f8; font-size: 14px; font-weight: bold;">防护行动要点</td>
																									</tr>
																									<tr>
																										<td>灾害警报</td>
																										<td>鸣6秒、停6秒，反复循环持续180秒</td>
																										<td>紧急避险</td>
																									</tr>
																								</tbody>
																							</table></td>
																					</tr>
																					<tr>
																						<td align="center" valign="top"
																							style="padding-top: 20px;">
																							<embed
																								src="statics/images/Lyplayer.swf?path=statics/images/m4.mp3&type=mp3&autoplay=false"
																								type="application/x-shockwave-flash" width="500"
																								height="27" quality="high">
																							</embed>																							
																							</td>
																					</tr>
																				</tbody>
																			</table></td>
																	</tr>
																</tbody>
															</table></td>
													</tr>

												</table></td>
										</tr>

									</table></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
</table>
{template "content","footer"}
