<table width="100%" border="0" cellspacing="0" cellpadding="0"
	align="center">
	<tbody>
		<tr>
			<td height="500" align="center" valign="top"
				style="background: url(statics/images/nrbg.png) repeat-y center top; padding-top: 7px;"><table
					width="998" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="217" valign="top">
								<table width="217" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td><table width="217" border="0" cellspacing="0"
													cellpadding="0">
													<tbody>
														<tr>
															<td><img src="statics/images/wsbs_zytit.jpg"
																style="width: 217px; height: 55px;"></td>
														</tr>
														<tr>
															<td height="100"
																style="border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; background: url(statics/images/zy_lft_mid.jpg) repeat-x bottom; padding-bottom: 15px;">
																<a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=1"
																class="lftmn_cur">主任信箱</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=2"
																class="lftmn_cur">监督投诉</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=3"
																class="lftmn_cur">在线办事</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=4"
																class="lftmn_cur">业务咨询</a> <a
																href="?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=5"
																class="lftmn_cur">公众留言</a> <a
																href="{$CATEGORYS[1484][url]}"
																class="lftmn_cur">网上调查</a> <a
																href="{$CATEGORYS[1481][url]}"
																class="lftmn_cur">在线访谈</a>


															</td>
														</tr>
														<tr>
															<td><img src="statics/images/zy_lft_btm.jpg"
																width="217" height="13"></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><table
													width="217" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td><a href="#"><img
																	src="statics/images/zyrfcf_tit.jpg" width="217"
																	height="31" border="0"></a></td>
														</tr>
														<tr>
															<td height="171" align="center"
																style="border-left: 1px solid #9fcede; border-right: 1px solid #9fcede; background: url(statics/images/syzxgg_bg.jpg) no-repeat bottom;"><table
																	width="200" border="0" cellspacing="0" cellpadding="0">
																	<tbody>
																		{pc:content action="lists" catid="1457" order="id
																		DESC" num="5"} {loop $data $v}
																		<tr>
																			<td height="30" align="left"><img
																				src="statics/images/zxgg_icon.png"> <a
																				href="{$v[url]}" class="p12heihui">{str_cut($v[title],42)}</a></td>
																		</tr>
																		{/loop} {/pc}
																	</tbody>
																</table></td>
														</tr>
														<tr>
															<td><img src="statics/images/syzxgg_btm.jpg"
																width="217" height="14"></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><table
													width="217" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td><table width="217" border="0" cellspacing="0"
																	cellpadding="0">
																	<tbody>
																		<tr>
																			<td width="115" height="25" align="center"
																				style="background: url(statics/images/jrht_tit01.jpg) no-repeat; padding-top: 5px;"
																				class="p14hei">今日<span class="p14hong">话题</span></td>
																			<td align="right"
																				style="background: url(statics/images/jrht_tit02.jpg) no-repeat; padding-right: 10px;"><a
																				href="#" class="p12bai">更多&gt;&gt;</a></td>
																		</tr>
																	</tbody>
																</table></td>
														</tr>
														<tr>
															<td height="222" align="center" valign="top"
																style="border: 1px solid #9fcede; border-top: none; padding-top: 9px; padding-bottom: 10px;"><table
																	width="198" border="0" cellspacing="0" cellpadding="0">
																	<tbody>
																		{pc:content action="lists" catid="1451" num="7"
																		order="listorder DESC" } {loop $data $v}
																		<tr>
																			<td height="32"
																				style="background: url(statics/images/short_line.jpg) repeat-x bottom"
																				align="left"><img
																				src="statics/images/red_icon.jpg" width="3"
																				height="3"> <a href="{$v[url]}"
																				class="p12heihui">{str_cut($v[title],42)}</a></td>
																		</tr>
																		{/loop} {/pc}


																	</tbody>
																</table></td>
														</tr>
													</tbody>
												</table></td>
										</tr>
										<tr>
											<td valign="top" style="padding-top: 10px;"><a
												href="{APP_PATH}/index.php?m=formguide&c=index&a=show&formid=15&siteid=1&infotype=1"><img
													src="statics/images/wsbs_icon.jpg" width="218" height="103">

											</a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td valign="top"><table width="780" border="0"
									cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td height="38" align="left" class="p12huiwei"
												style="background: url(images/zywz_bg.jpg) no-repeat top; padding-left: 45px; ">您当前的位置：<a
												href="index.html" class="p12huiwei">内蒙古人防</a> &gt;<span
												class="p12lan"> {catpos($catid)} </span></td>
										</tr>
										<tr>
											<td height="830" align="right" valign="top"
												style="background: url(images/zy_midline.jpg) no-repeat left;">
												<table
													width="753" border="0" cellspacing="0" cellpadding="0">
													<tbody>	
													{template "content","plugin_search"}
											<tr>			
											<td><table width="753" border="0" cellspacing="0"
													cellpadding="0">
													<tr>
														<td valign="top" style="padding-top: 5px;"><table
																width="753" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td><table width="753" border="0" cellspacing="0"
																			cellpadding="0">
																			<tr>
																				<td width="26"><img
																					src="statics/images/zytit_bg01.jpg" width="26"
																					height="35" /></td>
																				<td align="left" class="p14hei"
																					style="background: url(statics/images/zytit_bg02.jpg) repeat-x; padding-top: 9px;">
																					{catname($catid)}</td>
																			</tr>
																		</table></td>
																</tr>
																<tr>
																	<td><img src="statics/images/zytit_bg03.jpg"
																		width="753" height="3" /></td>
																</tr>
															</table></td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding-top: 15px;">
															<div style="min-height: 465px;">
																<table width="740" border="0" cellspacing="0"
																	cellpadding="0">
																	{pc:vote action="lists" order="subjectid desc" siteid="$siteid"
		                                                            num="12" page="$page"} {loop
																	$data $v}
																	<tr>
																		<td height="34" align="center"
																			style="background: url(statics/images/long_line.jpg) repeat-x bottom;"><table
																				width="735" border="0" cellspacing="0"
																				cellpadding="0">
																				<tr>
																					<td width="648" height="34" align="left"
																						class="p12heihui"><img
																						src="statics/images/ls_icon.jpg" width="9"
																						height="9" /> <a href="{APP_PATH}index.php?m=vote&c=index&a=show&show_type=1&subjectid={$v['subjectid']}&siteid={$siteid}"
																						class="p12heihui">{$v[subject]}</a></td>
																					<td width="72" align="left" class="p12qianhui">(投票数: {$v[votenumber]})</td>
																				</tr>
																			</table></td>
																	</tr>
																	{/loop} {/pc}
																</table>
															</div>
														</td>
													</tr>
													
												</table></td>
										</tr>

													</tbody>
												</table></td>
										</tr>

									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table></td>
		</tr>
	</tbody>
</table>