{template "content","header"}
<?php
$parentid = $CATEGORYS[$catid][parentid];
?>
<?php
if ( ($parentid == 1406) or ($parentid == 1407) ){
    include(template("content" , "bszn"));  
}
else
{
switch($catid){
   case 1450:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1451:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1455:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1480:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1482:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1483:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1487:
        include(template("content" , "list_modnochild"));                                               
        break;
   case 1490:
        include(template("content" , "jbst1"));                                               
        break;
   case 1491:
        include(template("content" , "jbst2"));                                               
        break;
  case 1492:
        include(template("content" , "jbst3"));                                               
        break;
   case 1493:
        include(template("content" , "jbst4"));                                               
        break;
   
   case 1485:
        include(template("content" , "rfpicture"));                                               
        break;
  case 1486:
        include(template("content" , "rfvideo"));                                               
        break;
   case 1463:
        include(template("content" , "rfpicture"));                                               
        break; 
   case 1464:
        include(template("content" , "rfvideo"));                                               
        break; 
   case 1461:
        include(template("content" , "rfpicture"));                                               
        break; 
  case 1462:
        include(template("content" , "rfpicture"));                                               
        break;
  case 1484:
         include(template("content" , "list_vote"));                                               
         break;
   case 1481:
         include(template("content" , "list_fangtan"));                                               
         break;
   case 1436:
         include(template("content" , "list_rfxw"));                                               
         break;
   case 1437:
         include(template("content" , "list_rfxw"));                                               
         break;
   case 1438:
         include(template("content" , "list_rfxw"));                                               
         break;
   case 1439:
         include(template("content" , "list_rfxw"));                                               
         break;
    case 1469:
         include(template("content" , "list_zcfg"));                                               
         break;
     case 1470:
         include(template("content" , "list_zcfg"));                                               
         break;
      case 1471:
         include(template("content" , "list_fkfz"));                                               
         break;
     case 1472:
         include(template("content" , "list_fkfz"));                                               
         break;
    case 1473:
         include(template("content" , "list_fkfz"));                                               
         break;
    case 1474:
         include(template("content" , "list_fkfz"));                                               
         break;
     case 1475:
         include(template("content" , "list_fkfz"));                                               
         break;
     case 1465:
         include(template("content" , "list_rfxh"));                                               
         break;
     case 1466:
         include(template("content" , "list_rfxh"));                                               
         break;
     case 1467:
         include(template("content" , "list_rfxh"));                                               
         break;
      case 1468:
         include(template("content" , "list_rfxh"));                                               
         break;
    case 1460:
         include(template("content" , "list_yytd"));                                               
         break;
    case 1477:
         include(template("content" , "list_jcck"));                                               
         break;
    case 1478:
         include(template("content" , "list_jcck"));                                               
         break;
    case 1479:
         include(template("content" , "list_jcck"));                                               
         break;
    default:
        include(template("content" , "list_mod"));
        break;
}
}
?>
{template "content","footer"}