<div style="width:982px; padding:0 10px; margin: 0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="text-align:center"><table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="800" valign="top" style="padding-top:25px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="background:url({$P}images/lft-gzdt-bg.jpg) no-repeat right"><img src="{$P}images/lftmn-01.jpg" /></td>
          </tr>
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14heicuti"><a href="#" class="p14heicuti">行政区划</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="#" class="p14hui">历史沿革</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">自然概况</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">产业发展</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>       
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">企业风采</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>       
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui">民俗风情</td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>       
        
        
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="119"><img src="{$P}images/tjxx_tit.jpg" width="119" height="33" /></td>
                <td style="background:url({$P}images/tjxx_titrt.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #e7ceaf; border-top:none; padding-top:10px; padding-bottom:10px;"><table width="225" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_01.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_02.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_03.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_04.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_05.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_06.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_07.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_08.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_09.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="225" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22" height="26" align="left"><img src="{$P}images/num_10.jpg" width="15" height="15" /> </td>
                    <td width="200" align="left" class="p12hui02">清水河县2013年前三季度全县地区生</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" style="padding-top:10px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="120" height="32" align="center" class="p14hongcu" style="background:url({$P}images/rdzt_tit.jpg) no-repeat; padding-left:18px;">热点专题</td>
                <td style="background:url({$P}images/rdzt_titbg.jpg) no-repeat">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" style="border:1px solid #cccccc; border-top:none; padding-top:10px; padding-bottom:10px;">
       <table width="225" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>
              <tr>
                <td height="28" align="left"><img src="{$P}images/zwdt_icon.jpg" /><a href="#" class="p12hui02"> 清水河县吴志强书记公务活动</a></td>
              </tr>                     
            </table>
      </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="46" align="left" valign="bottom"><a href="ldzc.html"><img src="{$P}images/lftkj_01.jpg" width="123" height="40" border="0" /></a></td>
            <td align="right" valign="bottom"><a href="zxxf.html"><img src="{$P}images/lftkj_02.jpg" width="123" height="40" border="0" /></a></td>
          </tr>
          <tr>
            <td height="46" valign="bottom" align="left"><a href="wstc.html"><img src="{$P}images/lftkj_03.jpg" width="123" height="40" border="0" /></a></td>
            <td align="right" valign="bottom"><a href="jyxc.html"><img src="{$P}images/lftkj_04.jpg" width="123" height="40" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="662" align="right" valign="top" style="padding-top:25px;"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="720" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5"><img src="{$P}images/zy_wz01.jpg" width="5" height="32" /></td>
            <td style="background:url({$P}images/zy_wz02.jpg) repeat-x"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%" align="center"><img src="{$P}images/wz_icon.jpg" width="17" height="17" /> </td>
                <td width="95%" height="32" align="left" class="p12hui02">您当前的位置：清水河首页 &gt; 工作动态 &gt; <span class="p12lansecu">清水河要闻</span></td>
              </tr>
            </table></td>
            <td width="5"><img src="{$P}images/zy_wz03.jpg" width="5" height="32" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:13px; border:1px solid #dbdbdb; border-top:none;" height="813"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="32" style="background:url({$P}images/srh_titbg.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="280" height="32" align="left"><table width="265" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="92" height="32" align="center"><img src="{$P}images/srh_tit.jpg" width="68" height="28" /> </td>
                    <td width="173"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><select name="select" style="height:21px; width:105px; text-align:center; color:#575656; margin-right:5px;" class="txt-search">
                                    <option value="" selected>工作动态</option>
                                    <!-- 栏目列表 -->
                                        <option value="13121214482510000692">政务公开</option>
                                        <option value="13121217533510000790">科技信息</option>
                                        <option value="13121217515310000788">政策法规</option>
                                        <option value="13121215515510000721">民俗风情</option>
                        <option value="13121215515510000721">民俗风情</option>

                              </select></td>
                        <td><select name="select" style="height:21px; width:80px; text-align:center; color:#575656" class="txt-search">
                                    <option value="" selected>文章标题</option>
                                    <!-- 栏目列表 -->
                                        <option value="13121214482510000692">搜索内容</option>
                              </select></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="313">关键字：
                  <input type="text" name="" value="填写您想搜索的关键词" onClick="if(this.value='填写您想搜索的关键词'){this.value=''}" style="width:250px; height:21px;" class="txt-search"/></td>
                <td width="107" align="left"><img src="{$P}images/search-bt.jpg" width="53" height="21" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top" style="padding-top:10px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="31" style="background:url({$P}images/zy_tit02.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" align="left"><img src="{$P}images/zy_tit01.jpg" width="29" height="31" /></td>
                        <td width="666" align="left" class="p14heicuti">行政区划</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="{$P}images/zy_titbg.jpg" width="700" height="3" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-top:15px; padding-bottom:15px;">
        <table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="background:url({$P}images/zxqh_flmn.jpg) repeat-x top; padding-top:5px; padding-bottom:20px;"><table width="98%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:15px;">
      <tr>
        <td align="center"><a href="#" class="tab_cur">城关镇</a></td>
        <td align="center"><a href="" class="tab_xzqh">喇嘛湾镇</a></td>
        <td align="center"><a href="" class="tab_xzqh">宏河镇</a></td>
        <td align="center"><a href="" class="tab_xzqh">韭菜庄乡</a></td>
        <td align="center"><a href="" class="tab_xzqh">北堡乡</a></td>
        <td align="center"><a href="" class="tab_xzqh">五良太乡</a></td>
        <td align="center"><a href="" class="tab_xzqh">单台子乡</a></td>
        <td align="center"><a href="" class="tab_xzqh">窑沟乡</a></td>
      </tr>
    </table></td>
  </tr>
</table>

        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="gzdt01.html" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="center" style="background:url({$P}images/zy_xwline.jpg) repeat-x bottom"><table width="690" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="610" height="30" align="left" class="p12hui02"><img src="{$P}images/zyxw_icon.jpg" width="9" height="11" /> <a href="#" class="p12hui02">县人大常委会就全县农村医疗卫生体系建设情况开展调研</a></td>
                        <td width="80" align="left" class="p12hui">[2013-12-12]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
        
        
        
        
        
        
        
        
        </td>
              </tr>
              <tr>
                <td align="center" style="padding-top:25px;"><table width="316" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td width="29" height="23">首页</td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">上一页></a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">1</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">2</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="25"><table width="21" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">3</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="76"><table width="63" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">下一页&gt;</a></td>
                                                  </tr>
                                                </table></td>
                                              <td width="60"><table width="60" border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td height="26" class="aa"><a href="#" class="aa">末页&gt;&gt;</a></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                      </table></td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>