<tr>
	<td align="center" valign="top"
		style="padding-top: 13px; border: 1px solid #dbdbdb; border-top: none;"
		height="32"><table width="700" border="0" cellspacing="0"
			cellpadding="0">
			<tr>
				<td height="32"
					style="background: url(statics/images/srh_titbg.jpg) repeat-x"><table
						width="700" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="280" height="32" align="left"><table width="265"
									border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="92" height="32" align="center"><img
											src="statics/images/srh_tit.jpg" width="68" height="28" /></td>
										<td width="173">

											<form name="search" type="get"
												action="{APP_PATH}/index.php?m=search">
												<input type="hidden" name="m" value="search" /> <input
													type="hidden" name="c" value="index" /> <input
													type="hidden" name="a" value="init" /> <input type="hidden"
													name="typeid" value="58" id="typeid" /> <input type="hidden"
													name="siteid" value="1" id="siteid" />

												<table width="100%" border="0" cellspacing="0"
													cellpadding="0">
													<tr>
														<td><select name="select"
															style="height: 21px; width: 105px; text-align: center; color: #575656; margin-right: 5px;"
															class="txt-search">
																<!-- 栏目列表 --> 
													{loop subcat(0) $v}
																<option>{$v[catname]}</option> 
													{/loop}

														</select></td>
														<td><select name="select"
															style="height: 21px; width: 80px; text-align: center; color: #575656"
															class="txt-search">
																<option value="" selected>文章标题</option>
																<!-- 栏目列表 -->
																<option value="13121214482510000692">搜索内容</option>
														</select></td>
													</tr>
												</table>
										</td>
									</tr>
								</table></td>
							<td width="313">关键字： <input type="text" name="q"
								value="填写您想搜索的关键词"
								onClick="if(this.value='填写您想搜索的关键词'){this.value=''}"
								style="width: 250px; height: 21px;" class="txt-search" /></td>
							<td width="107" align="left">
								<!--
                <img src="{$P}images/search-bt.jpg" width="53" height="21" />
                --> <input type="submit" class="ss_btn" value="搜 索">
							</td>
						</tr>
					</table>
					</form></td>
			</tr>