<table width="251" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <!--
 <td height="46" align="left" valign="bottom"><a href="http://127.0.0.1/qingshuihe/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=1"><img src="{$P}images/lftkj_01.jpg" width="123" height="40" border="0" /></a></td>
                  
 -->
   <td height="46" align="left" valign="bottom"><a href="{$CATEGORYS[1433][url]}"><img src="{$P}images/lftkj_01.jpg" width="123" height="40" border="0" /></a></td>
                        <td align="right" valign="bottom"><a href="http://127.0.0.1/qingshuihe/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=2"><img src="{$P}images/lftkj_02.jpg" width="123" height="40" border="0" /></a></td>
                      </tr>
                      <tr>
                        <td height="46" valign="bottom" align="left"><a href="http://127.0.0.1/qingshuihe/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=3"><img src="{$P}images/lftkj_03.jpg" width="123" height="40" border="0" /></a></td>
                        <td align="right" valign="bottom"><a href="http://127.0.0.1/qingshuihe/index.php?m=formguide&c=index&a=show&formid=12&siteid=1&infotype=4"><img src="{$P}images/lftkj_04.jpg" width="123" height="40" border="0" /></a></td>
                      </tr>
                    </table>