        <table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="background:url({$P}images/zxqh_flmn.jpg) repeat-x top; padding-top:5px; padding-bottom:20px;"><table width="98%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:15px;">
      <tr>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1320" class="tab_cur">城关镇</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1321" class="tab_xzqh">喇嘛湾镇</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1322" class="tab_xzqh">宏河镇</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1323" class="tab_xzqh">韭菜庄乡</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1324" class="tab_xzqh">北堡乡</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1325" class="tab_xzqh">五良太乡</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1326" class="tab_xzqh">单台子乡</a></td>
        <td align="center"><a href="/index.php?m=content&c=index&a=lists&catid=1327" class="tab_xzqh">窑沟乡</a></td>
      </tr>
    </table></td>
  </tr>
</table>