<?php
include(template("content" , "list_mod"));
?>

<!--

<div style="width:982px; padding:0 10px; margin: 0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td style="text-align:center"><table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="800" valign="top" style="padding-top:25px;"><table width="251" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="251" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" style="background:url({$P}images/lft-gzdt-bg.jpg) no-repeat right"><img src="{$P}images/sdbz_lftmn.jpg" height="34" /></td>
          </tr>
          <tr>
            <td><table width="251" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="{$CATEGORYS[1279][url]}" class="p14hui">县党委</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="{$CATEGORYS[1280][url]}" class="p14hui">县人大</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="{$CATEGORYS[1281][url]}" class="p14hui">县政府</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="31" align="right" style="background:url({$P}images/lftmn-bg.jpg) no-repeat"><table width="210" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" height="30" align="left"><img src="{$P}images/lftmn-icon01.jpg" width="16" height="14" /></td>
                    <td width="93" align="left" class="p14hui"><a href="{$CATEGORYS[1279][url]}" class="p14hui">县政协</a></td>
                    <td width="77" align="left"><img src="{$P}images/lftmn-icon02.jpg" width="5" height="9" /></td>
                  </tr>
                </table></td>
              </tr>			  
            </table></td>
          </tr>
        </table></td>
      </tr>

{template "content","leftinfobar"}

    </table></td>
    <td width="662" align="right" valign="top" style="padding-top:25px;"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="720" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5"><img src="{$P}images/zy_wz01.jpg" width="5" height="32" /></td>
            <td style="background:url({$P}images/zy_wz02.jpg) repeat-x"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%" align="center"><img src="{$P}images/wz_icon.jpg" width="17" height="17" /> </td>
                <td width="95%" height="32" align="left" class="p12hui02">您当前的位置：清水河首页 &gt; 领导之窗</td>
              </tr>
            </table></td>
            <td width="5"><img src="{$P}images/zy_wz03.jpg" width="5" height="32" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-top:13px; border:1px solid #dbdbdb; border-top:none;" height="804"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-top:10px;"><table width="700" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="700" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="31" style="background:url({$P}images/zy_tit02.jpg) repeat-x"><table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" align="left"><img src="{$P}images/zy_tit01.jpg" width="29" height="31" /></td>
                        <td width="666" align="left" class="p14heicuti">{$catname}</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td><img src="{$P}images/zy_titbg.jpg" width="700" height="3" /></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" ><table width="660" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top" style="padding-top:40px; padding-bottom:20px; border-bottom:1px dashed #bdbdbd;">

                    <table width="660" border="0" cellspacing="0" cellpadding="0">
                      <tr>

{pc:content action="lists" catid="$catid" num="6" order="id DESC" page="$page"}
{loop $data $v}
{$index++}
<?php if ($index == 1):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>
<?php if ($index == 2):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>
<?php if ($index == 3):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>

{/loop}
{/pc}                        
                        
                      </tr>
                    </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="padding-top:40px; padding-bottom:20px; border-bottom:1px dashed #bdbdbd;"><table width="660" border="0" cellspacing="0" cellpadding="0">
                      <tr>

{pc:content action="lists" catid="$catid" num="6" order="id DESC" page="$page"}
{loop $data $v}
{$index2++}
<?php if ($index2 == 4):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>
<?php if ($index2 == 5):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>
<?php if ($index2 == 6):?>                      
                        <td align="center"><table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><table width="154" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="184" align="center" style="border:1px solid #dedede;"><a href="{$v[url]}"><img src="{thumb($v[thumb],142,172)}" width="142" height="172" border="0" /></a></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="28" align="center" class="p12huilk"><a href="#" class="p12hui02">{$v[title]}</a></td>
                          </tr>
                          <tr>
                            <td align="left" class="p12qianhui" style="line-height:21px;"><a href="{$v[url]}" class="p12qianhui">{$v[description]}</a></td>
                          </tr>
                        </table></td>
<?php endif;?>
{/loop}
 
                        
                        

                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" style="padding-top:20px; padding-bottom:20px;">
                  {$pages}
                </td>
              </tr>
            </table></td>
          </tr>
    {/pc}      
        </table></td>
      </tr>
    </table></td>
  </tr>
</table></td>
  </tr>
</table>

-->